
.photo {
 
  margin-top: 200px; 
  margin-left: 550px;
  border-radius: 100%;
}
img {
  border-radius: 5%;
}

.Wrapp{
 text-align: center;
 font-size: 17px;
 font-family: sans-serif;
}

.logged-in {
  color: green;
  font-size: 20px;

}



